  <main class="parent"> 
    <div class="child">
        <h1>First Name: <%= @user.first_name %></h1>
        <h1>Last Name: <%= @user.last_name %></h1>
        <h1>Email: <%= @user.email %></h1>
        <h1>City: <%= @user.city %></h1>
        <h1>State: <%= @user.state %></h1>
    </div>
  </main>


  